.card-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
.button-service{
    background-color: #56cee6;
    color: #fff;
    height: 45px;
    width: 100%;
    border-radius: 6px;
    border: none;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
}
.button-service:hover{
    background-color: #1b6883;
    color: #fff;
}
.card{
    border-radius:  10px;
    height: 532px;
    border: 1px solid #9db2b6;
    border-radius: 10px ;
    border:none;
    box-shadow: 0px 0px 10px 0px #9db2b6;
   
}
.banner{
    background-size: cover;
    
}
.card img{
    width: 100%;
    border-radius: 10px;
}
.card-text{
    padding-left: 10px;
    margin-top: 10px;
}

.text{
    color: gray;
}